## Лабораторная работа № 1 
## Выполнение разведочного анализа больших данных с использованием фреймворка Apache Spark

### Часть 1

В данной части работы рассмотрены:
* загрузка данных из HDFS;
* базовые преобразования данных;
* загрузка преобразованных данных в таблицу `Apache Airflow`.

Подключим необходимые библиотеки.

In [1]:
import os
from pyspark.sql import SparkSession, DataFrame
from pyspark import SparkConf
from pyspark.sql.functions import (
    regexp_replace,
    regexp_extract_all,
    col,
    lit
)

Сформируем объект конфигурации для `Apache Spark`, указав необходимые параметры.

In [2]:
def create_spark_configuration() -> SparkConf:
    """
    Создает и конфигурирует экземпляр SparkConf для приложения Spark.

    Returns:
        SparkConf: Настроенный экземпляр SparkConf.
    """
    # Получаем имя пользователя
    user_name = os.getenv("USER")
    
    conf = SparkConf()
    conf.setAppName("lab 1 Test")
    conf.setMaster("yarn")
    conf.set("spark.submit.deployMode", "client")
    conf.set("spark.executor.memory", "12g")
    conf.set("spark.executor.cores", "8")
    conf.set("spark.executor.instances", "2")
    conf.set("spark.driver.memory", "4g")
    conf.set("spark.driver.cores", "2")
    conf.set("spark.jars.packages", "org.apache.iceberg:iceberg-spark-runtime-3.5_2.12:1.6.0")
    conf.set("spark.sql.extensions", "org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions")
    conf.set("spark.sql.catalog.spark_catalog", "org.apache.iceberg.spark.SparkCatalog")
    conf.set("spark.sql.catalog.spark_catalog.type", "hadoop")
    conf.set("spark.sql.catalog.spark_catalog.warehouse", f"hdfs:///user/{user_name}/warehouse")
    conf.set("spark.sql.catalog.spark_catalog.io-impl", "org.apache.iceberg.hadoop.HadoopFileIO")

    return conf

Создаём сам объект конфигурации.

In [3]:
conf = create_spark_configuration()

Создаём и выводим на экран сессию `Apache Spark`. В процессе создания сессии происходит подключение к кластеру `Apache Hadoop`, что может занять некоторое время.

In [4]:
spark = SparkSession.builder.config(conf=conf).getOrCreate()
spark

:: loading settings :: url = jar:file:/opt/spark-3.5.2-bin-hadoop3/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/user7/.ivy2/cache
The jars for the packages stored in: /home/user7/.ivy2/jars
org.apache.iceberg#iceberg-spark-runtime-3.5_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-22650cad-606e-4662-ad44-b3fb9d7e432b;1.0
	confs: [default]
	found org.apache.iceberg#iceberg-spark-runtime-3.5_2.12;1.6.0 in central
:: resolution report :: resolve 658ms :: artifacts dl 25ms
	:: modules in use:
	org.apache.iceberg#iceberg-spark-runtime-3.5_2.12;1.6.0 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   1   |   0   |   0   |   0   ||   1   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-22650cad-606e-4662-ad44-b3fb9d7e432b
	confs: [default]
	0 artifacts copied, 1 already retrieved (0kB/27ms)
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/12/12 04:20:23 WARN Client: Neither spark.yarn.jars nor spark.yarn.archive is set, falling back to uploading libraries under SPARK_HOME.
24/12/12 04:20:43 WARN Client: Same path resource file:///home/user7/.ivy2/jars/org.apache.iceberg_iceberg-spark-runtime-3.5_2.12-1.6.0.jar added multiple times to distributed cache.

Для исследования был выбран датасет `"NYC Yellow Taxi Trip Data"`, расположенный на платформе `Kaggle` по адресу https://www.kaggle.com/datasets/elemento/nyc-yellow-taxi-trip-data.

Датасет включает в себя информацию о более чем двенадцати миллионах поездок на такси в городе Нью-Йорк и его окрестностях за 2015-ый год.

Указываем путь в `HDFS` для файла с данными.

In [5]:
path = "hdfs:///user/user7/skobelin_dir/taxi_1.csv"

Заполняем датафрейм данными из файла.

In [6]:
df = (spark.read.format("csv")
      .option("header", "true")
      .load(path)
)

Выводим фрагмент датафрейма на экран.

In [7]:
df.show()
# VendorID - id компании, в которой работал таксист
# RateCode - способ расчета суммы оплаты
# StoreAndForward - показывает, хранилась ли информация о поездке в памяти машины перед отправкой на сервер или нет

+--------+--------------------+---------------------+---------------+-------------+-------------------+------------------+----------+------------------+-------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|   pickup_longitude|   pickup_latitude|RateCodeID|store_and_fwd_flag|  dropoff_longitude|  dropoff_latitude|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+--------+--------------------+---------------------+---------------+-------------+-------------------+------------------+----------+------------------+-------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|       2| 2015-01-15 19:05:39|  2015-01-15 19:23:42|              1|         1.59|   -73.993896484375|40.750110626220703|         1|                 N|-73.974784851074219|40.750617980957031|           1|         12|    1|    0.5|      3.25|           0|                  0.3|       17.05|
|       1| 2015-01-10 20:33:38|  2015-01-10 20:53:28|              1|         3.30| -74.00164794921875|  40.7242431640625|         1|                 N|-73.994415283203125|40.759109497070313|           1|       14.5|  0.5|    0.5|         2|           0|                  0.3|        17.8|
|       1| 2015-01-10 20:33:38|  2015-01-10 20:43:41|              1|         1.80|-73.963340759277344|40.802787780761719|         1|                 N|-73.951820373535156|40.824413299560547|           2|        9.5|  0.5|    0.5|         0|           0|                  0.3|        10.8|
|       1| 2015-01-10 20:33:39|  2015-01-10 20:35:31|              1|          .50|-74.009086608886719|40.713817596435547|         1|                 N|-74.004325866699219|40.719985961914063|           2|        3.5|  0.5|    0.5|         0|           0|                  0.3|         4.8|
|       1| 2015-01-10 20:33:39|  2015-01-10 20:52:58|              1|         3.00|-73.971176147460938|40.762428283691406|         1|                 N|-74.004180908203125|40.742652893066406|           2|         15|  0.5|    0.5|         0|           0|                  0.3|        16.3|
|       1| 2015-01-10 20:33:39|  2015-01-10 20:53:52|              1|         9.00|-73.874374389648438|  40.7740478515625|         1|                 N|-73.986976623535156|40.758193969726563|           1|         27|  0.5|    0.5|       6.7|        5.33|                  0.3|       40.33|
|       1| 2015-01-10 20:33:39|  2015-01-10 20:58:31|              1|         2.20|  -73.9832763671875|40.726009368896484|         1|                 N|-73.992469787597656|  40.7496337890625|           2|         14|  0.5|    0.5|         0|           0|                  0.3|        15.3|
|       1| 2015-01-10 20:33:39|  2015-01-10 20:42:20|              3|          .80|-74.002662658691406|40.734142303466797|         1|                 N|-73.995010375976563|40.726325988769531|           1|          7|  0.5|    0.5|      1.66|           0|                  0.3|        9.96|
|       1| 2015-01-10 20:33:39|  2015-01-10 21:11:35|              3|        18.20|-73.783042907714844|40.644355773925781|         2|                 N|-73.987594604492187|40.759357452392578|           2|         52|    0|    0.5|         0|        5.33|                  0.3|       58.13|
|       1| 2015-01-10 20:33:40|  2015-01-10 20:40:44|              2|          .90|-73.985588073730469|40.767948150634766|         1|                 N|-73.985916137695313|40.759365081787109|           1|        6.5|  0.5|    0.5|      1.55|           0|                  0.3|        9.35|
|       1| 2015-01-10 20:33:40|  2015-01-10 20:41:39|              1|          .90|-73.988616943359375|40.723102569580078|         1|                 N|    -74.00439453125|40.728584289550781|           1|          7|  0.5|    0.5|      1.66|           0|                  0.3|        9.96|
|       1| 2015-01-10 20:33:41|  2015-01-10 20:43:26|              1|         1.10|-73.993782043457031|40.751419067382812|         1|                 N|  -73.9674072265625|40.757217407226563|           1|        7.5|  0.5|    0.5|         1|           0|                  0.3|         9.8|
|       1| 2015-01-10 20:33:41|  2015-01-10 20:35:23|              1|          .30| -74.00836181640625|40.704376220703125|         1|                 N|-74.009773254394531|40.707725524902344|           2|          3|  0.5|    0.5|         0|           0|                  0.3|         4.3|
|       1| 2015-01-10 20:33:41|  2015-01-10 21:03:04|              1|         3.10|-73.973945617675781|40.760448455810547|         1|                 N|-73.997344970703125|40.735210418701172|           1|         19|  0.5|    0.5|         3|           0|                  0.3|        23.3|
|       1| 2015-01-10 20:33:41|  2015-01-10 20:39:23|              1|         1.10|-74.006721496582031|40.731777191162109|         1|                 N|-73.995216369628906|40.739894866943359|           2|          6|  0.5|    0.5|         0|           0|                  0.3|         7.3|
|       2| 2015-01-15 19:05:39|  2015-01-15 19:32:00|              1|         2.38|-73.976425170898437|40.739810943603516|         1|                 N|-73.983978271484375|40.757888793945313|           1|       16.5|    1|    0.5|      4.38|           0|                  0.3|       22.68|
|       2| 2015-01-15 19:05:40|  2015-01-15 19:21:00|              5|         2.83|-73.968704223632812|40.754245758056641|         1|                 N|-73.955123901367188|40.786857604980469|           2|       12.5|    1|    0.5|         0|           0|                  0.3|        14.3|
|       2| 2015-01-15 19:05:40|  2015-01-15 19:28:18|              5|         8.33|-73.863059997558594|40.769580841064453|         1|                 N|-73.952713012695312|40.785781860351563|           1|         26|    1|    0.5|      8.08|        5.33|                  0.3|       41.21|
|       2| 2015-01-15 19:05:41|  2015-01-15 19:20:36|              1|         2.37|-73.945541381835938|40.779422760009766|         1|                 N|-73.980850219726563|40.786083221435547|           1|       11.5|    1|    0.5|         0|           0|                  0.3|        13.3|
|       2| 2015-01-15 19:05:41|  2015-01-15 19:20:22|              2|         7.13|-73.874458312988281|40.774009704589844|         1|                 N|-73.952377319335938|40.718589782714844|           1|       21.5|    1|    0.5|       4.5|           0|                  0.3|        27.8|
+--------+--------------------+---------------------+---------------+-------------+-------------------+------------------+----------+------------------+-------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
only showing top 20 rows

Расшифруем названия колонок:

| Название столбца  | Расшифровка |
| ------------- | ------------- |
| VendorID              | Id компании, в которой работал таксист  |
| tpep_pickup_datetime  | Дата и время начала поездки  |
| tpep_dropoff_datetime | Дата и вреям окончания поездки |
| passenger_count       | Количество пассажиров |
| trip_distance         | Расстояние (в милях) между начальной и конечной токами поездки |
| pickup_longitude      | Долгота на которой был подобран пассажир |
| pickup_latitude       | Широта на которой был подобран пассажир |
| RateCodeID            | Способ рассчета суммы оплаты |
| store_and_fwd_flag    | Показывает, хранилась ли информация о поездке в памяти машины перед отправкой на сервер или нет |
| dropoff_longitude     | Долгота на которой был высажен пассажир |
| dropoff_latitude      | Широта на которой был высажен пассажир |
| payment_type          | Способ оплаты |
| fare_amount           | Базовая стоимость поездки |
| extra                 | Доплата |
| mta_tax               | Налог |
| tip_amount            | Чаевые |
| tolls_amount          | Налог с длительных поездок |
| improvement_surcharge | Дополнительный сбор средств на улучшение качества услуг |
| total_amount          | Полная стоимость поездки |

Выведем на экран метаданные датасета.

In [8]:
df.count()

12748986

In [9]:
df.printSchema()

root
 |-- VendorID: string (nullable = true)
 |-- tpep_pickup_datetime: string (nullable = true)
 |-- tpep_dropoff_datetime: string (nullable = true)
 |-- passenger_count: string (nullable = true)
 |-- trip_distance: string (nullable = true)
 |-- pickup_longitude: string (nullable = true)
 |-- pickup_latitude: string (nullable = true)
 |-- RateCodeID: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- dropoff_longitude: string (nullable = true)
 |-- dropoff_latitude: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: string (nullable = true)
 |-- extra: string (nullable = true)
 |-- mta_tax: string (nullable = true)
 |-- tip_amount: string (nullable = true)
 |-- tolls_amount: string (nullable = true)
 |-- improvement_surcharge: string (nullable = true)
 |-- total_amount: string (nullable = true)

Видно, что все столбцы датасета содержат строковый тип данных, что не соответствует ожиданиям. Выполним преобразования типов данных некоторых столбцов.

In [10]:
def transform_dataframe(data: DataFrame) -> DataFrame:
    """
    Преобразует столбцы DataFrame в указанные типы данных и
    выполняет необходимые преобразования.

    Args:
        data (DataFrame): Исходный DataFrame.

    Returns:
        DataFrame: Преобразованный DataFrame.
    """
    # Преобразуем столбцы в соответствующие типы данных
    data = data.withColumn("VendorID",
                           col("VendorID").cast("Integer"))
    data = data.withColumn("passenger_count",
                           col("passenger_count").cast("Integer"))
    data = data.withColumn("RateCodeID",
                           col("RateCodeID").cast("Integer"))
    data = data.withColumn("payment_type",
                           col("payment_type").cast("Integer"))
    data = data.withColumn("trip_distance",
                           col("trip_distance").cast("Float"))
    data = data.withColumn("pickup_longitude",
                           col("pickup_longitude").cast("Float"))
    data = data.withColumn("pickup_latitude",
                           col("pickup_latitude").cast("Float"))
    data = data.withColumn("dropoff_longitude",
                           col("dropoff_longitude").cast("Float"))
    data = data.withColumn("dropoff_latitude",
                           col("dropoff_latitude").cast("Float"))
    data = data.withColumn("fare_amount",
                           col("fare_amount").cast("Float"))
    data = data.withColumn("extra",
                           col("extra").cast("Float"))
    data = data.withColumn("mta_tax",
                           col("mta_tax").cast("Float"))
    data = data.withColumn("tip_amount",
                           col("tip_amount").cast("Float"))
    data = data.withColumn("tolls_amount",
                           col("tolls_amount").cast("Float"))
    data = data.withColumn("improvement_surcharge",
                           col("improvement_surcharge").cast("Float"))
    data = data.withColumn("total_amount",
                           col("total_amount").cast("Float"))
    return data

In [11]:
df = transform_dataframe(df)

In [12]:
df.show()

+--------+--------------------+---------------------+---------------+-------------+----------------+---------------+----------+------------------+-----------------+----------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|pickup_longitude|pickup_latitude|RateCodeID|store_and_fwd_flag|dropoff_longitude|dropoff_latitude|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+--------+--------------------+---------------------+---------------+-------------+----------------+---------------+----------+------------------+-----------------+----------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|       2| 2015-01-15 19:05:39|  2015-01-15 19:23:42|              1|         1.59|        -73.9939|       40.75011|         1|                 N|       -73.974785|       40.750618|           1|       12.0|  1.0|    0.5|      3.25|         0.0|                  0.3|       17.05|
|       1| 2015-01-10 20:33:38|  2015-01-10 20:53:28|              1|          3.3|       -74.00165|      40.724243|         1|                 N|       -73.994415|        40.75911|           1|       14.5|  0.5|    0.5|       2.0|         0.0|                  0.3|        17.8|
|       1| 2015-01-10 20:33:38|  2015-01-10 20:43:41|              1|          1.8|       -73.96334|      40.802788|         1|                 N|        -73.95182|       40.824413|           2|        9.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        10.8|
|       1| 2015-01-10 20:33:39|  2015-01-10 20:35:31|              1|          0.5|       -74.00909|      40.713818|         1|                 N|       -74.004326|       40.719986|           2|        3.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         4.8|
|       1| 2015-01-10 20:33:39|  2015-01-10 20:52:58|              1|          3.0|      -73.971176|       40.76243|         1|                 N|        -74.00418|       40.742653|           2|       15.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        16.3|
|       1| 2015-01-10 20:33:39|  2015-01-10 20:53:52|              1|          9.0|      -73.874374|      40.774048|         1|                 N|        -73.98698|       40.758194|           1|       27.0|  0.5|    0.5|       6.7|        5.33|                  0.3|       40.33|
|       1| 2015-01-10 20:33:39|  2015-01-10 20:58:31|              1|          2.2|       -73.98328|       40.72601|         1|                 N|        -73.99247|       40.749634|           2|       14.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        15.3|
|       1| 2015-01-10 20:33:39|  2015-01-10 20:42:20|              3|          0.8|       -74.00266|      40.734142|         1|                 N|        -73.99501|       40.726326|           1|        7.0|  0.5|    0.5|      1.66|         0.0|                  0.3|        9.96|
|       1| 2015-01-10 20:33:39|  2015-01-10 21:11:35|              3|         18.2|       -73.78304|      40.644356|         2|                 N|       -73.987595|       40.759357|           2|       52.0|  0.0|    0.5|       0.0|        5.33|                  0.3|       58.13|
|       1| 2015-01-10 20:33:40|  2015-01-10 20:40:44|              2|          0.9|       -73.98559|       40.76795|         1|                 N|       -73.985916|       40.759365|           1|        6.5|  0.5|    0.5|      1.55|         0.0|                  0.3|        9.35|
|       1| 2015-01-10 20:33:40|  2015-01-10 20:41:39|              1|          0.9|       -73.98862|      40.723103|         1|                 N|       -74.004395|       40.728584|           1|        7.0|  0.5|    0.5|      1.66|         0.0|                  0.3|        9.96|
|       1| 2015-01-10 20:33:41|  2015-01-10 20:43:26|              1|          1.1|       -73.99378|       40.75142|         1|                 N|        -73.96741|       40.757217|           1|        7.5|  0.5|    0.5|       1.0|         0.0|                  0.3|         9.8|
|       1| 2015-01-10 20:33:41|  2015-01-10 20:35:23|              1|          0.3|       -74.00836|      40.704376|         1|                 N|        -74.00977|       40.707726|           2|        3.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         4.3|
|       1| 2015-01-10 20:33:41|  2015-01-10 21:03:04|              1|          3.1|      -73.973946|       40.76045|         1|                 N|       -73.997345|        40.73521|           1|       19.0|  0.5|    0.5|       3.0|         0.0|                  0.3|        23.3|
|       1| 2015-01-10 20:33:41|  2015-01-10 20:39:23|              1|          1.1|       -74.00672|      40.731777|         1|                 N|        -73.99522|       40.739895|           2|        6.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         7.3|
|       2| 2015-01-15 19:05:39|  2015-01-15 19:32:00|              1|         2.38|      -73.976425|       40.73981|         1|                 N|        -73.98398|        40.75789|           1|       16.5|  1.0|    0.5|      4.38|         0.0|                  0.3|       22.68|
|       2| 2015-01-15 19:05:40|  2015-01-15 19:21:00|              5|         2.83|      -73.968704|      40.754246|         1|                 N|       -73.955124|       40.786858|           2|       12.5|  1.0|    0.5|       0.0|         0.0|                  0.3|        14.3|
|       2| 2015-01-15 19:05:40|  2015-01-15 19:28:18|              5|         8.33|       -73.86306|       40.76958|         1|                 N|        -73.95271|        40.78578|           1|       26.0|  1.0|    0.5|      8.08|        5.33|                  0.3|       41.21|
|       2| 2015-01-15 19:05:41|  2015-01-15 19:20:36|              1|         2.37|       -73.94554|      40.779423|         1|                 N|        -73.98085|       40.786083|           1|       11.5|  1.0|    0.5|       0.0|         0.0|                  0.3|        13.3|
|       2| 2015-01-15 19:05:41|  2015-01-15 19:20:22|              2|         7.13|       -73.87446|       40.77401|         1|                 N|        -73.95238|        40.71859|           1|       21.5|  1.0|    0.5|       4.5|         0.0|                  0.3|        27.8|
+--------+--------------------+---------------------+---------------+-------------+----------------+---------------+----------+------------------+-----------------+----------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
only showing top 20 rows

In [13]:
df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: string (nullable = true)
 |-- tpep_dropoff_datetime: string (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: float (nullable = true)
 |-- pickup_longitude: float (nullable = true)
 |-- pickup_latitude: float (nullable = true)
 |-- RateCodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- dropoff_longitude: float (nullable = true)
 |-- dropoff_latitude: float (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: float (nullable = true)
 |-- extra: float (nullable = true)
 |-- mta_tax: float (nullable = true)
 |-- tip_amount: float (nullable = true)
 |-- tolls_amount: float (nullable = true)
 |-- improvement_surcharge: float (nullable = true)
 |-- total_amount: float (nullable = true)

Видно, что теперь столбцы датафрейма содержат значения корректных типов.

Полученный датафрейм сохраним для дальнейшего использования. Сохранение выполним в таблицу `Apache Iceberg`. 

`Apache Iceberg` — это поддерживающий высокую производительность табличный формат для больших данных.

In [14]:
database_name = "skobelin_database"

Создадим инструкцию SQL для добавления базы данных в каталог `Apache Spark`.

In [15]:
create_database_sql = f"""
CREATE DATABASE IF NOT EXISTS spark_catalog.{database_name}
"""

In [16]:
spark.sql(create_database_sql)

DataFrame[]

Установим созданную базу данных как текущую.

In [18]:
spark.catalog.setCurrentDatabase(database_name)

И, наконец, записываем преобразованный датафрейм в таблицу `sobd_lab1_table`.

In [20]:
# Сохранение DataFrame в виде таблицы
df.writeTo("skobelin_lab1_table").using("iceberg").create()

AnalysisException: [TABLE_OR_VIEW_ALREADY_EXISTS] Cannot create table or view `skobelin_database`.`skobelin_lab1_table` because it already exists.
Choose a different name, drop or replace the existing object, or add the IF NOT EXISTS clause to tolerate pre-existing objects.

После успешной записи можно посмотреть, какие таблицы входят в базу данных.

In [21]:
for table in spark.catalog.listTables():
    print(table.name)

skobelin_lab1_processed_table
skobelin_lab1_table

После успешной записи таблицы останавливаем сессию `Apache Spark`.

In [25]:
spark.stop()